/*-- Main Content CSS Begin --*/
body { 
    background: url("../Images/background_image.PNG") no-repeat center center fixed; 
    background-size: cover;
}

.container {
    background-color: #f6e6d6;
    height: 80%;
    width: 95%;
    margin: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    border: solid 5px #000;
    box-shadow: 20px -20px 5px 6px #ccc;
}

.title {
    text-align: center;
    padding-top: 1%;
    font-weight: 700;
    font-size: 50px;
}
/*-- Main Content CSS End --*/


/*-- About Me Page CSS Begin --*/
img.profilePic {
    width: 25%;
    margin-top: 2.5%;
    padding-top: 1%;
    margin-left: 5%;
    border-radius: 20%;
}

.bioSection {
    margin-bottom: -20%;
}

.paragraph {
    text-align: center;
    position: relative;
    left: 19%;
    bottom: 329px;
    font-weight: 500;
    font-size: 20px;
    margin-right: 15%;
    margin-left: 15%;
}
/*-- About Me Page CSS End --*/

/*-- Portfolio Page CSS Begin --*/
.portfolioCard {
    border: solid 5px;
    height: 18 0px;
    width: 24%;
    margin-top: 10px;
}

.projectImage {
    height: 153px;
    width: 284px;
    position: relative;
    bottom: 0.5px;
}

.projectTitle {
    text-align: center;
    font-weight: 700;
    text-decoration: underline;
}

.projectDescription {
    text-align: center;
}
/*-- Portfolio Page CSS End --*/

/*Social Media/contact icons*/
.contactIcons {
    text-align: center;
    position: relative;
    left: 19%;
}



/*-- CSS for Navigation begin-- */
.name {
    font-size: 25px;
    position: relative;
    left: 15px;
    top: 10px;
    font-weight: 700;
}

ul.link li {
    display: inline;
    position: relative;
    bottom: 27px;
    left: 350px;
    padding-right: 50px;
    font-size: 20px;
}

.link a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.link a:hover {
    color: #00f;
}

a.current {
    color: #00f;
}

nav {
    background-color: #808080;
    height: 50px;
    box-shadow: inset 0 0 10px #000000;
}
/*-- Navigation CSS End -- */

/*-- CSS Footer -- */
.footerSection {
    background-color: #808080;
    height: 50px;
    box-shadow: inset 0 0 10px #000000;
}

.copy {
    text-align: center;
    list-style-type: none;
    position: relative;
    top: 10px;
    font-weight: 500;
    font-size: 17px;
}